.advantages__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto;
  padding: 0;
  margin-top: 32px;
  max-width: 300px;
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
  margin-top: 35px;
  margin-bottom: 16px;
  max-width: 310px;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto;
  padding: 0;
  margin-top: 36px;
  max-width: 300px;
}

.advantages__description--white {
  color: #ffffff;
}

.advantages__number--white {
  color: #ffffff;
}

.advantages__title--white {
  color: #ffffff;
}

.advantages__number {
  margin: 0 auto;
  margin-top: 11px;
  margin-bottom: 17px;
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 40px;
  max-width: 300px;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #eeeeee;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advantages__item--blue {
  background-color: #81b3d2;
}

.advantages__sublist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #ffffff;
  padding-top: 26px;
  padding-bottom: 40px;
}

.advantages__subitem {
  display: flex;
  gap: 7px;
}

.advantages__subtitle {
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-top: 8px;
  max-width: 300px;
}

.advantages__subdescription {
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 16px;
  max-width: 300px;
}

.advantages__item--before {
  position: relative;
}

.advantages__item--before::before {
  content: '';
  width: 284px;
  height: 1px;
  background-color: #d6d6d6;
  position: absolute;
  bottom: 0;
  right: 18px;
}
