.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $color-black;
  margin: 0 0 11px;
  padding: 0;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 18px;
}

.advantages__item {
  display: flex;
  flex-direction: column;
}

.advantages__number {
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 17px;
  text-align: center;
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  max-width: 246px;

  br {
    display: none;
  }
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #eeeeee;
}

.advantages__image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.advantages__divider {
  width: 100%;
}

.advantages__item--blue {
  background-color: $color-blue;
}

.advantages__sublist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 27px;
  padding: 26px 18px 45px;
  margin: 0;
  list-style-type: none;
  background-color: $color-white;
}

.advantages__subitem {
  display: flex;
  gap: 7px;
}

.advantages__subitem--house {
  background-image: url("../../img/index/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 0 -1px;
}

.advantages__subitem--eat {
  background-image: url("../../img/index/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages__subitem--souvenirs {
  background-image: url("../../img/index/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: 3px -1px;
  background-size: 35px 36px;
}

.advantages__wrapper-subtext {
  padding: 6px 0 0 0;
  margin: 0 0 0 47px;
}

.advantages__subtitle {
  display: flex;
  justify-content: start;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: $color-black;
  margin: 0 0 16px 0;
  padding: 0;
}

.advantages__subdescription {
  display: flex;
  justify-content: start;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  br {
    display: none;
  }
}

.advantages__item--before {
  position: relative;
}

.advantages__item--before::before {
  content: "";
  width: 89%;
  height: 1px;
  background-color: #d6d6d6;
  position: absolute;
  bottom: 0;
  right: 6%;
}

.advantages__wrapper--grid {
  padding: 70px 18px 39px;
}

.advantages__picture--grid-bridge {
  order: 2;
}

.advantages__wrapper--grid-bridge {
  padding: 37px 18px;
}

.advantages__description--white {
  color: $color-white;
  max-width: 263px;
}

.advantages__number--white {
  color: $color-white;
}

.advantages__title--white {
  color: $color-white;
}

@media (max-width: $mobile-width) {
  .advantages__item--grid-city {
    position: relative;

    &::before {
      content: "";
      background: url("../../img/index/advantages-divider.svg") no-repeat center;
      width: 100%;
      height: 37px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

// Tablet

@media (min-width: $tablet-width) {
  .advantages__list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }

  .advantages__item--grid-city {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
  }

  .advantages__item--grid-bridge {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  .advantages__item--grid-place {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .advantages__item--grid-road {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .advantages__item--grid-tourists {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }

  .advantages__picture--grid {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
  }

  .advantages__sublist--grid {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  .advantages__title {
    max-width: 150px;
    font-size: 21px;
    line-height: 26px;
    margin: 0 0 13px;
  }

  .advantages__number {
    max-width: 190px;
    margin: 0 0 25px;
  }

  .advantages__description {
    max-width: 190px;

    br {
      display: block;
    }
  }

  .advantages__sublist {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    gap: 0;
  }

  .advantages__picture--grid-bridge {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    order: 1;
  }

  .advantages__item--before::before {
    display: none;
  }

  .advantages__wrapper {
    min-height: 256px;
    align-items: center;
    padding: 41px 18px 31px;
    justify-content: flex-start;
  }

  .advantages__image {
    height: 256px;
  }

  .advantages__subitem {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0 60px;
    min-height: 331px;
    gap: 0;
  }

  .advantages__subitem:last-child {
    padding: 146px 0 60px;
  }

  .advantages__wrapper-subtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .advantages__subtitle {
    font-size: 21px;
    justify-content: center;
    text-align: center;
    max-width: 190px;
    margin: 0 0 24px 0;
  }

  .advantages__subdescription {
    justify-content: center;
    text-align: center;
    max-width: 177px;

    br {
      display: block;
    }
  }

  .advantages__subitem--house {
    background-position: 50% 59px;
    background-size: 77px 72px;
  }

  .advantages__subitem--eat {
    background-position: 50% 61px;
    background-size: 80px 68px;
  }

  .advantages__subitem--souvenirs {
    background-position: 50% 63px;
    background-size: 67px 75px;
  }

  .advantages__wrapper--grid {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 53px 18px 29px;
  }

  .advantages__wrapper--grid-bridge {
    grid-column: 3 / -1;
    padding: 53px 18px 29px;
  }

  .advantages__description--white {
    br {
      display: none;
    }
  }
}

// Desktop

@media (min-width: $desktop-width) {
  .advantages__description {
    max-width: 300px;

    br {
      display: block;
    }
  }

  .advantages__subitem {
    padding: 161px 0 69px;
  }

  .advantages__subitem:last-child {
    padding: 164px 0 60px;
  }

  .advantages__subdescription {
    max-width: 283px;

    br {
      display: none;
    }
  }

  .advantages__wrapper {
    padding: 51px 18px 31px;
  }

  .advantages__subitem--house {
    background-position: 50% 69px;
    background-size: 81px 72px;
  }

  .advantages__subitem--eat {
    background-position: 50% 70px;
    background-size: 75px 71px;
  }

  .advantages__subitem--souvenirs {
    background-position: 50% 70px;
    background-size: 77px 75px;
  }

  .advantages__description--white {
    br {
      display: block;
    }
  }
}
