.page__body {
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  background-color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #333333;
  font-size: 14px;
  font-style: normal;
  line-height: 21px;
}
