.footer__hashtag {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $color-black;
  text-transform: uppercase;
  max-width: 140px;
}

.footer__link-logo {
  color: $color-black;
}

.footer__link-academy {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 12px;
  max-width: 135px;

  &:hover {
    .footer__link-text {
      color: $color-blue;
    }

    .footer__link-logo {
      color: $color-blue;
    }
  }

  &:active {
    .footer__link-text {
      color: #b3b3b3;
    }

    .footer__link-logo {
      color: #b3b3b3;
    }
  }
}

.footer__link-text {
  display: flex;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-black;
}

// Tablet

@media (min-width: $tablet-width) {
  .footer__hashtag {
    margin: 0;
  }

  .footer__link-academy {
    margin: 0;
  }

  .footer__link-text {
    padding: 2px 0 0 0;
  }
}
