.footer__hashtag {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $color-black;
  text-transform: uppercase;
}

.footer__link-academy {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 12px;
}

.footer__link-text {
  display: flex;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-black;
}

// Tablet

@media (min-width: $tablet-width) {
  .footer__hashtag {
    margin: 0;
  }

  .footer__link-academy {
    margin: 0;
  }

  .footer__link-text {
    padding: 2px 0 0 0;
  }
}
