.footer__hashtag {
  margin: 0 auto;
  margin-top: 33px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $color-black;
  text-transform: uppercase;
}

.footer__link-academy {
  display: flex;
  justify-content: center;
  text-decoration: none;
  gap: 12px;
  margin-bottom: 33px;
}

.footer__link-text {
  display: flex;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-black;
}
