.form {
  padding: 0 20px;
}

.form__fieldset {
  border: 0;
  margin: 0 -20px;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__fieldset--grid-name {
  padding: 24px 0 39px;
}

.form__fieldset--grid-contacts {
  padding: 24px 0 34px;
}

.form__fieldset--grid-impression {
  padding: 27px 0 25px;
}

.form__fieldset--grid-attractions {
  padding: 24px 0;
}

.form__fieldset--grid-emotions {
  padding: 24px 20px 0;
}

.form__fieldset--before::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  left: 0;
}

.form__legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: $color-black;
  text-transform: uppercase;
  margin: 0 auto 20px;
  padding: 0;
}

.form__list {
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.form__radio-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
}

.form__checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
}

.form__item {
  display: flex;
  flex-direction: column;
}

.form__input-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  margin-left: 16px;
  text-transform: uppercase;
}

.form__input-text {
  font-family: inherit;
  background-color: $color-light-grey;
  min-width: 280px;
  min-height: 58px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
  padding-left: 16px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: $color-white;
    border: 4px solid #e5e5e5;
    outline: none;
  }

  &:focus:not(:placeholder-shown) {
    border: none;
    outline: none;
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

.form__input-icon-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  margin-left: 16px;
  text-transform: uppercase;
}

.form__input-icon {
  display: flex;
  font-family: inherit;
  background-color: $color-light-grey;
  min-height: 58px;
  width: 100%;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
  padding-left: 16px;
  position: relative;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: $color-white;
    border: 4px solid #e5e5e5;
    outline: none;
  }

  &:focus:not(:placeholder-shown) {
    border: none;
    outline: none;
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

.form__wrapper-phone {
  position: relative;
}

.form__wrapper-email {
  position: relative;
}

.form__icon-email {
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-image: url("../img/form/mail.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.form__icon-phone {
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-image: url("../img/form/phone.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.form__radio-item {
  min-width: 280px;
  min-height: 46px;
}

.form__radio-label {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
}

.form__radio-input {
  width: 46px;
  height: 46px;
  background-color: $color-light-grey;
  margin: 0;
}

.form__checkbox-item {
  min-width: 280px;
  min-height: 46px;
}

.form__checkbox-label {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
}

.form__checkbox-input {
  width: 46px;
  height: 46px;
  margin: 0;
}

.form__textarea {
  display: block;
  font-family: inherit;
  background-color: $color-light-grey;
  min-height: 150px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
  resize: none;
  margin: 0 auto;
  margin-bottom: 56px;
  outline: none;
  width: 100%;
  padding: 16px 16px 4px 16px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: $color-white;
    border: 4px solid #e5e5e5;
    outline: none;
  }

  &:focus:not(:placeholder-shown) {
    border: none;
    outline: none;
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

.form__submit {
  min-height: 58px;
  border: none;
  background-color: $color-blue;
  color: $color-white;
  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 3px;
  padding: 0 30px;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
    pointer-events: none;
  }
}

.form__clue {
  display: flex;
  margin: 0;
  margin-left: auto;
  color: rgba(51, 51, 51, 0.6);
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
}

.form__radio-mark {
  width: 46px;
  height: 46px;
  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
  }
}

.form__radio-input[type="radio"]:checked + .form__radio-mark::before,
.form__radio-input[type="radio"]:checked + .form__radio-mark::after {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  content: "";
}

.form__radio-input[type="radio"]:disabled + .form__radio-mark {
  background-color: #d5d5d5;
  pointer-events: none;
  opacity: 0.3;
}

.form__radio-input[type="radio"]:disabled + .form__radio-mark + .form__radio-title {
  opacity: 0.3;
}

.form__checkbox-mark {
  width: 46px;
  height: 46px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
  }
}

.form__checkbox-input[type="checkbox"]:checked + .form__checkbox-mark::before,
.form__checkbox-input[type="checkbox"]:checked + .form__checkbox-mark::after {
  position: absolute;
  background-image: url("../../img/form/checked.svg");
  top: 15px;
  left: 12px;
  width: 22px;
  height: 16px;
  content: "";
}

.form__checkbox-input[type="checkbox"]:disabled + .form__checkbox-mark {
  background-color: #d5d5d5;
  pointer-events: none;
  opacity: 0.3;
}

.form__checkbox-input[type="checkbox"]:disabled + .form__checkbox-mark + .form__checkbox-title {
  opacity: 0.3;
}

// Tablet

@media (min-width: $tablet-width) {
  .form__list {
    padding: 0;
  }

  .form__fieldset {
    margin: 0;
  }

  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    padding: 0 60px 64px;
  }

  .form__fieldset--grid-name {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0 28px 0 0;
    margin: 0 0 63px 0;
  }

  .form__fieldset--grid-contacts {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 0 0 0 28px;
  }

  .form__fieldset--grid-impression {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    position: relative;
    padding: 0;
  }

  .form__fieldset--grid-attractions {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    padding: 0;
  }

  .form__fieldset--grid-emotions {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    position: relative;
    padding: 0;
    margin: 0 0 48px 0;
  }

  .form__submit--grid-submit {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }

  .form__submit--grid-clue {
    grid-column: 2 / -1;
    grid-row: 5 / 6;
  }

  .form__legend {
    font-size: 21px;
    margin: 0 auto 28px;
    max-width: 379px;
  }

  .form__fieldset--after {
    position: relative;
  }

  .form__fieldset--after::after {
    content: "";
    width: 1px;
    height: 103%;
    background-color: #e5e5e5;
    position: absolute;
    top: 0;
    right: 0;
  }

  .form__fieldset--before::before {
    display: none;
  }

  .form__legend--psevdo {
    position: relative;
    display: block;
    width: 402px;
  }

  .form__fieldset--grid-impression .form__legend--psevdo::before {
    content: "";
    position: absolute;
    width: 135px;
    height: 1px;
    background-color: #e5e5e5;
    top: 50%;
    left: 100%;
  }

  .form__fieldset--grid-impression .form__legend--psevdo::after {
    content: "";
    position: absolute;
    width: 135px;
    height: 1px;
    background-color: #e5e5e5;
    top: 50%;
    right: 100%;
  }

  .form__fieldset--grid-attractions .form__legend--psevdo::before {
    content: "";
    position: absolute;
    width: 135px;
    height: 1px;
    background-color: #e5e5e5;
    top: 50%;
    right: 100%;
  }

  .form__fieldset--grid-attractions .form__legend--psevdo::after {
    content: "";
    position: absolute;
    width: 135px;
    height: 1px;
    background-color: #e5e5e5;
    top: 50%;
    left: 100%;
  }

  .form__fieldset--grid-emotions .form__legend--psevdo::before {
    content: "";
    position: absolute;
    width: 135px;
    height: 1px;
    background-color: #e5e5e5;
    top: 50%;
    right: 100%;
  }

  .form__fieldset--grid-emotions .form__legend--psevdo::after {
    content: "";
    position: absolute;
    width: 135px;
    height: 1px;
    background-color: #e5e5e5;
    top: 50%;
    left: 100%;
  }

  .form__checkbox-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 42px;
    padding: 0 84px;
    gap: 0;
    row-gap: 16px;
  }

  .form__checkbox-item {
    min-width: 200px;
  }

  @media (max-width: $tablet-width) {
    .form__checkbox-item:nth-child(2n) {
      margin-left: 55px;
    }
  }

  .form__radio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 48px;
    padding: 0 36px;
    gap: 16px;
  }

  .form__textarea {
    margin: 0;
    padding-bottom: 15px;
  }

  .form__submit {
    min-height: 58px;
    border: none;
    background-color: $color-blue;
    color: $color-white;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    margin: 0;
  }

  .form__clue {
    align-items: center;
    font-size: 14px;
    min-height: 21px;
    margin: 11px 0 0 auto;
  }
}

// Desktop

@media (min-width: $desktop-width) {
  .form {
    padding: 0 120px 64px;
  }

  .form__checkbox-list {
    justify-content: center;
    margin-bottom: 56px;
    padding: 33px 0 30px;
    column-gap: 64px;
  }

  .form__checkbox-item:nth-child(2n) {
    margin-left: 0;
  }

  .form__radio-list {
    margin-bottom: 54px;
    padding: 18px 36px;
  }

  .form__radio-item {
    display: flex;
    justify-content: center;
  }

  .form__checkbox-item {
    display: flex;
    justify-content: center;
    min-width: 150px;
  }

  .form__fieldset--grid-name {
    padding-right: 50px;
    margin-bottom: 71px;
  }

  .form__fieldset--grid-contacts {
    padding-left: 50px;
  }

  .form__fieldset--grid-emotions {
    padding: 0 96px;
  }

  .form__submit {
    margin: 0 0 0 96px;
  }

  .form__clue {
    margin: 11px 96px 0 auto;
  }

  .form__fieldset--grid-impression .form__legend--psevdo::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 1px;
    background-color: #e5e5e5;
    top: 50%;
    left: 100%;
  }

  .form__fieldset--grid-impression .form__legend--psevdo::after {
    content: "";
    position: absolute;
    width: 280px;
    height: 1px;
    background-color: #e5e5e5;
    top: 50%;
    right: 100%;
  }

  .form__fieldset--grid-attractions .form__legend--psevdo::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 1px;
    background-color: #e5e5e5;
    top: 50%;
    right: 100%;
  }

  .form__fieldset--grid-attractions .form__legend--psevdo::after {
    content: "";
    position: absolute;
    width: 280px;
    height: 1px;
    background-color: #e5e5e5;
    top: 50%;
    left: 100%;
  }

  .form__fieldset--grid-emotions .form__legend--psevdo::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 1px;
    background-color: #e5e5e5;
    top: 50%;
    right: 100%;
  }

  .form__fieldset--grid-emotions .form__legend--psevdo::after {
    content: "";
    position: absolute;
    width: 280px;
    height: 1px;
    background-color: #e5e5e5;
    top: 50%;
    left: 100%;
  }

  .form__textarea {
    padding-bottom: 14px;
  }
}
