.form {
  padding: 0 20px;
}

.form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__fieldset--grid-name {
  padding: 24px 0 39px;
}

.form__fieldset--grid-contacts {
  padding: 24px 0 34px;
}

.form__fieldset--grid-impression {
  padding: 24px 0;
}

.form__fieldset--grid-attractions {
  padding: 24px 0;
}

.form__fieldset--grid-emotions {
  padding: 24px 0 0;
}

.form__fieldset--before::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  left: 0;
}

.form__legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: $color-black;
  text-transform: uppercase;
  margin: 0 auto 20px;
  padding: 0;
}

.form__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.form__radio-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form__checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form__item {
  display: flex;
  flex-direction: column;
}

.form__input-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  margin-left: 16px;
}

.form__input-text {
  font-family: inherit;
  background-color: $color-light-grey;
  min-width: 280px;
  min-height: 58px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
  padding-left: 16px;
}

.form__input-icon-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  margin-left: 16px;
}

.form__input-icon {
  display: flex;
  flex-grow: 1;
  font-family: inherit;
  background-color: $color-light-grey;
  min-height: 58px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
  padding-left: 16px;
}

.form__icon-email {
  min-width: 58px;
  min-height: 58px;
  background-color: #e6e6e6;
  background-image: url("../img/form/mail.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.form__icon-phone {
  min-width: 58px;
  min-height: 58px;
  background-color: #e6e6e6;
  background-image: url("../img/form/phone.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.form__wrapper-phone {
  display: flex;
}

.form__wrapper-email {
  display: flex;
}

.form__radio-item {
  min-width: 280px;
  min-height: 46px;
}

.form__radio-label {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
}

.form__radio-input {
  width: 46px;
  height: 46px;
  background-color: $color-light-grey;
}

.form__checkbox-item {
  min-width: 280px;
  min-height: 46px;
}

.form__checkbox-label {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
}

.form__checkbox-input {
  width: 46px;
  height: 46px;
}

.form__textarea {
  display: block;
  font-family: inherit;
  background-color: $color-light-grey;
  min-height: 150px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
  resize: none;
  margin: 0 auto;
  margin-bottom: 56px;
  outline: none;
  width: 100%;
  padding: 16px;
}

.form__submit {
  min-height: 58px;
  border: none;
  background-color: $color-blue;
  color: $color-white;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
}

.form__clue {
  display: flex;
  margin: 0;
  margin-left: auto;
  margin-right: 20px;
  color: rgba(51, 51, 51, 0.6);
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
}

// Tablet

@media (min-width: $tablet-width) {
  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    padding: 0 60px 64px;
  }

  .form__fieldset--grid-name {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0 28px 0 0;
    margin: 0 0 63px 0;
  }

  .form__fieldset--grid-contacts {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 0 0 0 28px;
  }

  .form__fieldset--grid-impression {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    position: relative;
    padding: 0;
  }

  .form__fieldset--grid-attractions {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    padding: 0;
  }

  .form__fieldset--grid-emotions {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    position: relative;
    padding: 0;
    margin: 0 0 48px 0;
  }

  .form__submit--grid-submit {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }

  .form__submit--grid-clue {
    grid-column: 2 / -1;
    grid-row: 5 / 6;
  }

  .form__legend {
    font-size: 21px;
    margin: 0 auto 28px;
    max-width: 402px;
  }

  .form__fieldset--after {
    position: relative;
  }

  .form__fieldset--before::before {
    display: none;
  }

  .form__fieldset--after::after {
    content: "";
    width: 1px;
    height: 90%;
    background-color: #e5e5e5;
    position: absolute;
    top: 0;
    right: 0;
  }

  .form__radio-list--before {
    position: relative;
  }

  .form__radio-list--before::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 1px;
    background-color: #e5e5e5;
    top: -40px;
    right: 0;
  }

  .form__radio-list--after::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 1px;
    background-color: #e5e5e5;
    top: -40px;
    left: 0;
  }

  .form__checkbox-list--before {
    position: relative;
  }

  .form__checkbox-list--before::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 1px;
    background-color: #e5e5e5;
    top: -40px;
    right: 0;
  }

  .form__checkbox-list--after::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 1px;
    background-color: #e5e5e5;
    top: -40px;
    left: 0;
  }

  .form__checkbox-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 42px;
    padding: 0 84px;
  }

  .form__checkbox-item {
    min-width: 200px;
  }

  .form__radio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 48px;
    padding: 0 36px;
    gap: 16px;
  }

  .form__textarea {
    margin: 0;
  }

  .form__submit {
    min-height: 58px;
    border: none;
    background-color: $color-blue;
    color: $color-white;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    margin: 0;
  }

  .form__clue {
    align-items: center;
    font-size: 14px;
    min-height: 21px;
    margin: 0 0 0 auto;
  }
}

// Desktop

@media (min-width: $desktop-width) {
  .form {
    padding: 0 120px 64px;
  }

  .form__checkbox-list {
    margin-bottom: 56px;
    padding: 0;
  }

  .form__radio-list {
    margin-bottom: 56px;
    padding: 0;
  }

  .form__fieldset--grid-name {
    padding-right: 50px;
  }

  .form__fieldset--grid-contacts {
    padding-left: 50px;
  }

  .form__fieldset--grid-emotions {
    padding: 0 96px;
  }

  .form__submit {
    margin: 0 0 0 96px;
  }

  .form__clue {
    margin: 0 96px 0 auto;
  }
}
