.gallery {
  padding: 0 20px;
}

.gallery__cards {
  padding: 0;
  margin: 0 -20px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gallery__image {
  background-color: $color-blue;
  margin: 24px auto 15px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.gallery__card-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  color: $color-black;
  margin: 0;
  padding: 0;
}

.gallery__image-author {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  color: $color-black;
  margin: 0;
  margin-bottom: 11px;
  padding: 0;
}

.gallery__card-like {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 14px;
  margin-bottom: 25px;
}

.gallery__like-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $color-black;
  margin: 0;
  padding: 0;
}

.gallery__like-icon {
  fill: rgba(0, 0, 0, 0.3);
}

.gallery__card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.gallery__card--before::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  position: absolute;
  bottom: 0;
  left: 0;
}

.gallery__card--after::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  left: 0;
}

// Tablet

@media (min-width: $tablet-width) {
  .gallery {
    padding: 0 60px;
  }

  .gallery__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }

  .gallery__picture {
    height: 347px;
  }

  .gallery__card {
    height: 347px;
    position: relative;
    padding: 0;
  }

  .gallery__card-title {
    max-width: 230px;
  }

  .gallery__like-text {
    max-width: 70px;
  }

  .gallery__card--grid-spaces {
    grid-column: 1 / -1;
    height: 480px;
  }

  .gallery__picture--spaces {
    height: 480px;
  }

  .gallery__card--before::before {
    display: none;
  }

  .gallery__card--after::after {
    display: none;
  }

  .gallery__wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px 15px;
    background-color: #f2f2f2;
    width: 100%;
  }

  .gallery__image {
    margin: 0;
    height: 267px;
  }

  .gallery__image--grid-spaces {
    height: 400px;
  }

  .gallery__card-like {
    margin: 0;
  }

  .gallery__title-wrapper {
    display: flex;
    flex-direction: column;
  }
}

// Desktop

@media (min-width: $desktop-width) {
  .gallery {
    padding: 0;
  }

  .gallery__card-title {
    max-width: 280px;
    color: $color-white;
  }

  .gallery__like-text {
    max-width: 80px;
    color: $color-white;
  }

  .gallery__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__wrapper {
    background: transparent;
  }

  .gallery__card--grid-spaces {
    background-image: url("../../img/catalog/gallery-content-road-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
  }

  .gallery__card--grid-plants {
    background-image: url("../../img/catalog/gallery-content-plants-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 267px;
  }

  .gallery__card--grid-road {
    background-image: url("../../img/catalog/gallery-content-road-to-north-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 267px;
  }

  .gallery__card--grid-bridge {
    background-image: url("../../img/catalog/gallery-content-devils-bridge-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 267px;
  }

  @media (min-resolution: 2dppx) {
    .gallery__card--grid-spaces {
      background-image: url("../../img/catalog/gallery-content-road-desktop@2x.jpg");
    }

    .gallery__card--grid-plants {
      background-image: url("../../img/catalog/gallery-content-plants-desktop@2x.jpg");
    }

    .gallery__card--grid-road {
      background-image: url("../../img/catalog/gallery-content-road-to-north-desktop@2x.jpg");
    }

    .gallery__card--grid-bridge {
      background-image: url("../../img/catalog/gallery-content-devils-bridge-desktop@2x.jpg");
    }
  }

  .gallery__image-author {
    color: $color-white;
    margin: 0;
  }

  .gallery__like-icon {
    fill: $color-white;
  }
}
