.header__logo {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.header__logo-image {
  display: block;
  width: 185px;
  height: 96px;
  position: absolute;
  z-index: 5;
}
