.main-nav {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 55px;
  width: 320px;
  background-color: #81b3d2;
  mix-blend-mode: normal;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2); ;
}

.main-nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  min-height: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 17px auto 12px;
}
