.main-nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-nav__toggle {
  width: 100px;
  height: 30px;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-nav__item {
  display: flex;
  justify-content: center;
  min-height: 55px;
  width: 100%;
  background-color: $color-blue;
  mix-blend-mode: normal;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.main-nav__link {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 17px 82px 12px;
}
