.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal.modal--is-active {
  display: flex;
}

.modal__error {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: $color-white;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  max-width: 400px;
  min-width: 320px;
  padding: 45px 0 35px;
}

.modal__success {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: $color-white;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  max-width: 640px;
  min-width: 320px;
  padding: 39px 0 0;
}

.modal__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
  margin: 0 auto 25px;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  max-width: 210px;
}

.modal__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0 auto 29px;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  max-width: 214px;
}

.modal__description--success {
  margin: 0 auto 52px;
}

.modal__button-ok {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 180px;
  min-height: 58px;
  max-width: 272px;
  border: none;
  background-color: $color-blue;
  color: $color-white;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: inherit;
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 6px;
}

.modal__button-wrapper {
  display: flex;
  justify-content: center;
  background-color: $color-light-grey;
  min-height: 98px;
  padding: 20px;
  width: 100%;
}

.modal__button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 58px;
  border: none;
  background-color: $color-blue;
  color: $color-white;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: inherit;
  text-transform: uppercase;
  padding-top: 4px;
}

// Tablet

@media (min-width: $tablet-width) {
  .modal__error {
    padding: 48px 64px 49px;
  }

  .modal__title {
    font-size: 30px;
    line-height: 40px;
    margin: 0 auto 23px;
    max-width: 250px;
  }

  .modal__title--success {
    max-width: 340px;
  }

  .modal__description {
    max-width: 280px;
    letter-spacing: -0.1px;
    margin: 0 auto 47px;
  }

  .modal__description--success {
    max-width: 412px;
    letter-spacing: normal;
    margin: 0 auto 52px;
  }

  .modal__button-ok {
    width: 100%;
    font-size: 21px;
  }

  .modal__success {
    min-width: 640px;
    padding-top: 44px;
  }

  .modal__button-wrapper {
    padding: 44px 91px;
  }

  .modal__button-close {
    padding-top: 9px;
    font-size: 21px;
  }
}
