.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal.is-active {
  display: flex;
}

.modal__error {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.modal__success {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.modal__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 36px 38px;
  padding: 0;
  text-transform: uppercase;
  max-width: 244px;
  text-align: center;
}

.modal__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0 38px 50px;
  padding: 0;
  text-transform: uppercase;
  max-width: 244px;
  text-align: center;
}

.modal__button-ok {
  min-width: 180px;
  min-height: 58px;
  border: none;
  background-color: #81b3d2;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 35px;
}

.modal__button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  min-height: 98px;
  width: 320px;
}

.modal__button-close {
  min-width: 280px;
  min-height: 58px;
  border: none;
  background-color: #81b3d2;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
