.page__body {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  background-color: $color-white;
  font-family: $main-font;
  color: #333333;
  font-size: 14px;
  font-style: normal;
  line-height: 21px;
  padding: 0;
}

.page__wrapper {
  min-height: 100%;
  margin: 0 auto;
}

.page__main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.page__footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 41px 0;
}

.page__footer--catalog {
  padding: 29px 0;
}

.page__footer--form {
  padding: 55px 0;
}

.page__header {
  min-height: 56px;
  display: flex;
  position: relative;
}

// Tablet

@media (min-width: $tablet-width) {
  .page__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    padding: 36px 60px;
  }
}

// Desktop

@media (min-width: $desktop-width) {
  .page__body {
    margin: 0;
    background-color: $color-light-grey;
  }

  .page__wrapper {
    width: 1200px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: $color-white;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }

  .page__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    padding: 36px 120px;
  }
}
