.review-hero__wrapper {
  background-image: url("../../img/index/hero-background.jpg");
  background-color: $color-blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 36px 0;
  padding: 52px 0 67px;
}

@media (min-resolution: 2dppx) {
  .review-hero__wrapper {
    background-image: url("../../img/index/hero-background@2x.jpg");
  }
}

.review-hero__welcome {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 229px;
  height: 39px;
}

.review-hero__divider {
  width: 100%;
  margin: 0;
}

.review-hero__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $color-black;
  margin: 0 0 25px 0;
  padding: 0;
}

.review-hero__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 28px 0;
  padding: 0;
}

.review-hero__title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 18px;
}

// Tablet

@media (min-width: $tablet-width) {
  .review-hero__wrapper {
    background-image: url("../../img/index/hero-background-tablet.jpg");
    padding: 95px 0 117px;
    margin-bottom: 64px;
  }

  .review-hero__welcome {
    margin: 0 auto;
    width: 457px;
    height: 78px;
  }

  @media (min-resolution: 2dppx) {
    .review-hero__wrapper {
      background-image: url("../../img/index/hero-background-tablet@2x.jpg");
    }
  }

  .review-hero__title {
    font-size: 30px;
    margin: 0 0 20px 0;
    max-width: 435px;
  }

  .review-hero__description {
    margin: 0 0 108px 0;
    max-width: 435px;
  }

  .review-hero__title-wrapper {
    padding: 0 60px;
  }
}

// Desktop

@media (min-width: $desktop-width) {
  .review-hero__wrapper {
    background-image: url("../../img/index/hero-background-desktop.jpg");
    margin-bottom: 115px;
    padding: 101px 0 120px;
    background-position: 0 -217px;
  }

  .review-hero__welcome {
    margin: 0 auto;
    width: 460px;
    height: 80px;
  }

  @media (min-resolution: 2dppx) {
    .review-hero__wrapper {
      background-image: url("../../img/index/hero-background-desktop@2x.jpg");
    }
  }

  .review-hero__title {
    margin: 0 0 31px 0;
  }

  .review-hero__description {
    margin: 0 0 68px 0;
  }
}
