.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0 0;
}

.search__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 18px;
}

.search__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 21px 0;
  padding: 0;
}

.search__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 32px 0;
  padding: 0;

  br {
    display: none;
  }
}

.search__button {
  font-weight: 700;
  font-size: 21px;
  font-family: inherit;
  line-height: 26px;
  color: $color-white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 16px 0;
  background-color: $color-blue;
  min-width: 284px;
  margin-bottom: 49px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
    pointer-events: none;
  }
}

.search__map-wrapper {
  position: relative;
  width: 100%;
  height: 350px;

  &::before {
    content: "";
    background: url("../../img/index/map-desktop.jpg") no-repeat center;
    width: 100%;
    height: 350px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.search__map {
  border: none;
  width: 100%;
  display: block;
  height: 350px;
  position: absolute;
  top: 0;
  left: 0;
}

// Tablet

@media (min-width: $tablet-width) {
  .search {
    padding: 60px 0 0;
  }

  .search__title {
    font-size: 30px;
    margin-bottom: 32px;
    max-width: 435px;
  }

  .search__description {
    margin-bottom: 44px;
    max-width: 435px;

    br {
      display: block;
    }
  }

  .search__button {
    width: 458px;
    margin-bottom: 55px;
  }

  .search__wrapper {
    margin: 0 auto;
    padding: 0;
  }
}

// Desktop

@media (min-width: $desktop-width) {
  .search__description {
    margin-bottom: 44px;
    max-width: 485px;
  }

  .search__title {
    margin-bottom: 33px;
  }

  .search__button {
    margin-bottom: 67px;
  }
}
