.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.social__icon {
  fill: $color-white;
}

.social__link {
  display: flex;
  width: 48px;
  height: 48px;
  background-color: $color-blue;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    .social__icon {
      fill: rgba(255, 255, 255, 0.3);
    }
  }
}
