.video {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 17px 20px 0;
}

.video__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 26px;
  padding: 0;
}

.video__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 38px;
  padding: 0;
}

.video__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.video__picture {
  width: 100%;
}

.video__image {
  width: 100%;
}

// Tablet

@media (min-width: $tablet-width) {
  .video {
    padding: 57px 60px 40px;
  }

  .video__title {
    font-size: 30px;
    margin-bottom: 32px;
    max-width: 450px;
  }

  .video__description {
    margin-bottom: 90px;
    max-width: 450px;
  }
}

// Desktop

@media (min-width: $desktop-width) {
  .video {
    padding: 66px 200px 84px;
  }
}
