.video {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 17px 20px 0;
}

.video__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 29px;
  padding: 0;
}

.video__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 36px;
  padding: 0;
  max-width: 235px;
}

.video__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.video__picture {
  width: 100%;
}

.video__image {
  width: 100%;
}

.video__button {
  margin: 0;
  padding: 0;
  border: none;
  width: 48px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

// Tablet

@media (min-width: $tablet-width) {
  .video {
    padding: 57px 60px 34px;
  }

  .video__title {
    font-size: 30px;
    margin-bottom: 32px;
    max-width: 450px;
  }

  .video__description {
    margin-bottom: 88px;
    max-width: 450px;
  }
}

// Desktop

@media (min-width: $desktop-width) {
  .video {
    padding: 66px 200px 78px;
  }

  .video__description {
    margin-bottom: 81px;
  }
}
