.video {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
}

.video__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 17px auto 26px;
  padding: 0;
}

.video__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 38px;
}

.video__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

// Tablet

@media (min-width: $tablet-width) {
  .video {
    padding: 0 60px;
  }

  .video__title {
    font-size: 30px;
    margin: 57px auto 32px;
  }

  .video__description {
    margin-bottom: 90px;
  }
}

// Desktop

@media (min-width: $desktop-width) {
  .video {
    padding: 0 200px;
  }
}
